/* line 1, ../styles/style.scss */
input:disabled {
  background-color: transparent;
}

/* line 5, ../styles/style.scss */
.ah-right {
  text-align: right;
}

/* line 8, ../styles/style.scss */
.ah-gray {
  color: #aaa;
}
