<ion-view>
	<ion-nav-title>{{'child.summaryFor' | i18n}} {{vm.child.name}}</ion-nav-title>

	<!-- HEADER -->
	<ion-header-bar align-title="left" class="bar-subheader">
		<div class="buttons">
			<button class="button button-clear button-dark">
				{{'child.currentBalance' | i18n}}:
				<span ng-class="{'balanced':vm.child.balance>=0, 'assertive':vm.child.balance<0}">
					{{vm.child.balance}}
				</span>
			</button>
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button button-clear button-dark">
				{{'child.allowance' | i18n}}:
				<span ng-hide="vm.child.allowance==='none'">
					<span class="positive">{{vm.child.allowanceAmount}}</span>
					({{vm.child.allowance}})
				</span>
				<span ng-show="vm.child.allowance==='none'">{{'child.none' | i18n}}</span>
			</button>
		</div>
	</ion-header-bar>

	<!-- TRANSACTIONS -->
	<ion-content class="has-header has-footer">
		<div class="list">
			<div class="item item-divider">
				{{'child.transactions' | i18n}}
			</div>
			<ul class="list" collection-repeat="transaction in vm.transactions | orderBy: '-date'">
				<li class="item">
					<small class="ah-gray">
						{{transaction.timestamp | date:'dd.MM.yy'}}
					</small> &nbsp;&nbsp;{{transaction.description}}
					<strong class="item-note" ng-class="{'balanced':transaction.type==='deposit', 'assertive':transaction.type==='withdraw'}">
							<span ng-show="transaction.type==='withdraw'">-</span>{{transaction.sum}}
					</strong>
				</li>
			</ul>
		</div>
	</ion-content>

	<!-- FOOTER -->
	<ion-footer-bar class="bar-stable">
		<div class="button-bar">
			<a class="button button-clear button-balanced" ng-click="vm.openDepositModal()">{{'child.deposit' | i18n}}</a>
			<a class="button button-clear button-assertive" ng-click="vm.openWithdrawModal()">{{'child.withdraw' | i18n}}</a>
			<a class="button button-clear button-calm icon ion-gear-a" ng-click="vm.openAddChildModal()"></a>
		</div>
	</ion-footer-bar>

</ion-view>