<ion-view>
	<ion-nav-title>Summary for {{vm.child.name}}</ion-nav-title>
	
	<!-- HEADER -->
	<ion-header-bar align-title="left" class="bar-subheader">
		<div class="buttons">
			<button class="button button-clear button-dark">
				Current Balance: 
				<span ng-class="{'balanced':vm.child.balance>=0, 'assertive':vm.child.balance<0}">
					{{vm.child.balance}}
				</span>
			</button>
		</div>
		<h1 class="title"></h1>
		<div class="buttons">
			<button class="button button-clear button-dark">
				Allowance 
				<span ng-hide="vm.child.allowance==='none'">
					({{vm.child.allowance}})
				</span>
				<span>: </span>
				<span ng-class="{'positive':vm.child.allowance !== 'none'}">
					{{vm.child.allowance === 'none' ? 'none' : vm.child.allowanceAmount}}
				</span>
			</button>
		</div>
	</ion-header-bar>

	<!-- TRANSACTIONS -->
	<ion-content class="has-header has-footer">
		<div class="list">
			<div class="item item-divider">
				Transactions
			</div>
			<ul class="list" collection-repeat="transaction in vm.transactions | orderBy: '-date'">
				<li class="item">
					<small class="ah-gray">
						{{transaction.timestamp | date:'dd.MM.yy'}}
					</small> &nbsp;&nbsp;{{transaction.description}}
					<strong class="item-note" ng-class="{'balanced':transaction.type==='deposit', 'assertive':transaction.type==='withdraw'}">
							<span ng-show="transaction.type==='withdraw'">-</span>{{transaction.sum}}
					</strong>
				</li>
			</ul>
		</div>
	</ion-content>

	<!-- FOOTER -->
	<ion-footer-bar class="bar-stable">
		<div class="button-bar">
			<a class="button button-clear button-balanced" ng-click="vm.openDepositModal()">Deposit</a>
			<a class="button button-clear button-assertive" ng-click="vm.openWithdrawModal()">Withdraw</a>
			<a class="button button-clear button-calm icon ion-gear-a" ng-click="vm.openAddChildModal()"></a>
		</div>
	</ion-footer-bar>

</ion-view>