<ion-view>
	<ion-nav-title>{{vm.parentName}}</ion-nav-title>

	<ion-nav-buttons side="primary">
		<button class="button button-icon icon ion-ios-plus-outline"
				ng-click="vm.openAddChildModal()"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="secondary">
		<button class="button button-clear button-assertive" ng-click="vm.logout()">Log Out</button>
    </ion-nav-buttons>
	
	<ion-content class="padding">

		<div class="list">
			<div ng-repeat="child in vm.children track by child._id">
				<a 	class="item"
					ui-sref="child({childId: child._id})">
					{{::child.name}}
				</a>
			</div>
		</div>

	</ion-content>
</ion-view>