<ion-view view-title="Expanded View">
	<ion-content class="padding">

		<div class="card">
			<div class="item item-divider">
				{{vm.child.name}}
			</div>
			<div class="item item-text-wrap">
				<ul class="list">
					<li class="item">
						Current Balance
						<span class="badge" ng-class="{'badge-balanced':vm.child.balance>=0, 'badge-assertive':vm.child.balance<0}">
							{{vm.child.balance}}
						</span>
					</li>
					<li class="item" ng-if="vm.child.allowance">
						Monthly Allowance
						<span class="badge badge-positive">{{vm.child.allowanceAmount}}</span>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="button-bar">
			<a class="button button-balanced" ng-click="openDepositModal()">Deposit</a>
			<a class="button button-assertive" ng-click="">Withdraw</a>
			<a class="button button-calm icon ion-gear-a" ng-click=""></a>
		</div>

	</ion-content>
</ion-view>